.pos-rlt {
  position: relative;
}
.pos-stc {
  position: static !important;
}
.pos-abt {
  position: absolute;
}
.pos-fix {
  position: fixed;
}
.show {
  visibility: visible;
}
.line {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  font-size: 0;
  overflow: hidden;
}
.line-xs {
  margin: 0;
}
.line-lg {
  margin-top: 15px;
  margin-bottom: 15px;
}
.line-dashed {
  border-style: dashed !important;
  background-color: transparent;
  border-width: 0;
}
.no-line {
  border-width: 0;
}
.no-border,
.no-borders {
  border-color: transparent;
  border-width: 0;
}
.no-border-right {
  border-right: 0;
}
.no-radius {
  border-radius: 0;
}
.block {
  display: block;
}
.block.hide {
  display: none;
}
.inline {
  display: inline-block !important;
}
.none {
  display: none;
}
.pull-none {
  float: none;
}
.rounded {
  border-radius: 500px;
}
.clear {
  display: block;
  overflow: hidden;
}
.no-bg {
  background-color: transparent;
  color: inherit;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cleared {
  clear: both;
}
.l-h {
  line-height: 1.42857143;
}
.l-h-0x {
  line-height: 0;
}
.l-h-1x {
  line-height: 1.2;
}
.l-h-2x {
  line-height: 2em;
}
.l-s-1x {
  letter-spacing: 1;
}
.l-s-2x {
  letter-spacing: 2;
}
.l-s-3x {
  letter-spacing: 3;
}
.font-normal {
  font-weight: normal;
}
.font-thin {
  font-weight: 300;
}
.font-bold {
  font-weight: 600;
}
.font-bolder {
  font-weight: 700;
}
.text-3x {
  font-size: 3em;
}
.text-2x {
  font-size: 2em;
}
.text-lg {
  font-size: 20px;
}
.text-md {
  font-size: 19px;
}
.text-base {
  font-size: 16px;
}
.text-sm {
  font-size: 15px;
}
.text-xs {
  font-size: 14px;
}
.text-xxs {
  text-indent: -9999px;
}
.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-u-c {
  text-transform: uppercase;
}
.text-l-t {
  text-decoration: line-through;
}
.text-u-l {
  text-decoration: underline;
}
.text-active,
.active > .text,
.active > .auto .text {
  display: none !important;
}
.active > .text-active,
.active > .auto .text-active {
  display: inline-block !important;
}
.box-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.box-shadow-lg {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}
.text-shadow {
  font-size: 170px;
  text-shadow: 0 1px 0 #dee5e7, 0 2px 0 #fcfdfd, 0 5px 10px rgba(0, 0, 0, 0.125), 0 10px 20px rgba(0, 0, 0, 0.2);
}
.no-shadow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.text-white {
  color: white;
}
.wrapper-xs {
  padding: 5px;
}
.wrapper-sm {
  padding: 10px;
}
.wrapper {
  padding: 15px;
}
.wrapper-md {
  padding: 20px;
}
.wrapper-lg {
  padding: 30px;
}
.wrapper-xl {
  padding: 50px;
}
.padder-lg {
  padding-left: 30px;
  padding-right: 30px;
}
.padder-md {
  padding-left: 20px;
  padding-right: 20px;
}
.padder-xs {
  padding-left: 5px;
  padding-right: 5px;
}
.padder {
  padding-left: 15px;
  padding-right: 15px;
}
.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padder-v-sm {
  padding-top: 7px;
  padding-bottom: 7px;
}
.no-padder {
  padding: 0 !important;
}
.pull-in {
  margin-left: -15px;
  margin-right: -15px;
}
.pull-out {
  margin: -10px -15px;
}
.padder-top-xl {
  padding-top: 70px;
}
.b {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.b-a {
  border: 1px solid #dee5e7;
}
.b-t {
  border-top: 1px solid #dee5e7;
}
.b-r {
  border-right: 1px solid #dee5e7;
}
.b-b {
  border-bottom: 1px solid #dee5e7;
}
.b-l {
  border-left: 1px solid #dee5e7;
}
.b-light {
  border-color: #edf1f2;
}
.b-dark {
  border-color: #cfdadd;
}
.b-black {
  border-color: #194167;
}
.b-primary {
  border-color: #3676C8;
}
.b-success {
  border-color: #11A04E;
}
.b-info {
  border-color: #597a96;
}
.b-warning {
  border-color: #fad733;
}
.b-danger {
  border-color: #E74C3C;
}
.b-white {
  border-color: #fff;
}
.b-dashed {
  border-style: dashed !important;
}
.b-l-light {
  border-left-color: #edf1f2;
}
.b-l-dark {
  border-left-color: #194167;
}
.b-l-black {
  border-left-color: #194167;
}
.b-l-primary {
  border-left-color: #3676C8;
}
.b-l-success {
  border-left-color: #11A04E;
}
.b-l-info {
  border-left-color: #597a96;
}
.b-l-warning {
  border-left-color: #fad733;
}
.b-l-danger {
  border-left-color: #E74C3C;
}
.b-l-white {
  border-left-color: #fff;
}
.b-l-2x {
  border-left-width: 2px;
}
.b-l-3x {
  border-left-width: 3px;
}
.b-l-4x {
  border-left-width: 4px;
}
.b-l-5x {
  border-left-width: 5px;
}
.b-2x {
  border-width: 2px;
}
.b-3x {
  border-width: 3px;
}
.b-4x {
  border-width: 4px;
}
.b-5x {
  border-width: 5px;
}
.r {
  border-radius: 2px 2px 2px 2px;
}
.r-2x {
  border-radius: 4px;
}
.r-3x {
  border-radius: 6px;
}
.r-l {
  border-radius: 2px 0 0 2px;
}
.r-r {
  border-radius: 0 2px 2px 0;
}
.r-t {
  border-radius: 2px 2px 0 0;
}
.r-b {
  border-radius: 0 0 2px 2px;
}
.m-xxs {
  margin: 2px 4px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0 !important;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-xxl {
  margin-left: 50px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-l-n-xxl {
  margin-left: -50px;
}
.m-t-none {
  margin-top: 0 !important;
}
.m-t-xxs {
  margin-top: 2px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-xxl {
  margin-top: 50px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-t-n-xxl {
  margin-top: -50px;
}
.m-r-none {
  margin-right: 0 !important;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-xxl {
  margin-right: 50px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-r-n-xxl {
  margin-right: -50px;
}
.m-b-none {
  margin-bottom: 0 !important;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-xxl {
  margin-bottom: 50px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}
.m-b-n-xxl {
  margin-bottom: -50px;
}
.avatar {
  position: relative;
  display: block;
  border-radius: 500px;
  white-space: nowrap;
}
.avatar img {
  border-radius: 500px;
  width: 100%;
}
.avatar i {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  margin: 2px;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
}
.avatar i.right {
  left: auto;
  right: 0;
}
.avatar i.bottom {
  left: auto;
  top: auto;
  bottom: 0;
  right: 0;
}
.avatar i.left {
  top: auto;
  bottom: 0;
}
.avatar i.on {
  background-color: #11A04E;
}
.avatar i.off {
  background-color: #a4a59a;
}
.avatar i.busy {
  background-color: #E74C3C;
}
.avatar i.away {
  background-color: #fad733;
}
.avatar.thumb-md i {
  width: 12px;
  height: 12px;
  margin: 3px;
}
.avatar.thumb-sm i {
  margin: 1px;
}
.avatar.thumb-xs i {
  margin: 0;
}
.w-1x {
  width: 1em;
}
.w-2x {
  width: 2em;
}
.w-3x {
  width: 3em;
}
.w-xxs {
  width: 60px;
}
.w-xs {
  width: 90px;
}
.w-ssm {
  width: 120px;
}
.w-sm {
  width: 150px;
}
.w {
  width: 200px;
}
.w-md {
  width: 240px;
}
.w-lg {
  width: 280px;
}
.w-xl {
  width: 320px;
}
.w-xxl {
  width: 360px;
}
.w-access {
  width: 420px;
}
.w-mid {
  width: 500px;
}
.w-full {
  width: 100%;
}
.w-auto {
  width: auto;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.thumb-xl {
  width: 128px;
  display: inline-block;
}
.thumb-lg {
  width: 96px;
  display: inline-block;
}
.thumb-md {
  width: 64px;
  display: inline-block;
}
.thumb {
  width: 50px;
  display: inline-block;
}
.thumb-sm {
  width: 40px;
  display: inline-block;
}
.thumb-xs {
  width: 34px;
  display: inline-block;
}
.thumb-xxs {
  width: 30px;
  display: inline-block;
}
.thumb-wrapper {
  padding: 2px;
  border: 1px solid #dee5e7;
}
.thumb img,
.thumb-xs img,
.thumb-sm img,
.thumb-md img,
.thumb-lg img,
.thumb-btn img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.img-full {
  width: 100%;
}
.img-full img {
  width: 100%;
}
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.scrollable.hover {
  overflow-y: hidden !important;
}
.scrollable.hover:hover {
  overflow: visible !important;
  overflow-y: auto !important;
}
.smart .scrollable {
  overflow-y: auto !important;
}
.scroll-x,
.scroll-y {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.scroll-y {
  overflow-y: auto;
}
.scroll-x {
  overflow-x: auto;
}
.hover-action {
  display: none;
}
.hover-rotate {
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  -moz-transition: all 0.2s ease-in-out 0.1s;
  -ms-transition: all 0.2s ease-in-out 0.1s;
  -o-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}
.hover-anchor:hover > .hover-action,
.hover-anchor:focus > .hover-action,
.hover-anchor:active > .hover-action {
  display: inherit;
}
.hover-anchor:hover > .hover-rotate,
.hover-anchor:focus > .hover-rotate,
.hover-anchor:active > .hover-rotate {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotate-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
}
.backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.center-block {
  float: none;
}
.scrollable {
  overflow: auto;
}
/*desktop*/
@media screen and (min-width: 992px) {
  .col-lg-2-4 {
    width: 20.000%;
    float: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm.show {
    display: inherit !important;
  }
  .no-m-sm {
    margin: 0 !important;
  }
}
/*phone*/
@media (max-width: 767px) {
  .w-auto-xs {
    width: auto;
  }
  .shift {
    display: none !important;
  }
  .shift.in {
    display: block !important;
  }
  .row-2 [class*="col"] {
    width: 50%;
    float: left;
  }
  .row-2 .col-0 {
    clear: none;
  }
  .row-2 li:nth-child(odd) {
    clear: left;
    margin-left: 0;
  }
  .text-center-xs {
    text-align: center;
  }
  .text-left-xs {
    text-align: left;
  }
  .text-right-xs {
    text-align: right;
  }
  .no-border-xs {
    border-width: 0;
  }
  .no-padder-xs {
    padding: 0;
  }
  .pull-none-xs {
    float: none !important;
  }
  .pull-right-xs {
    float: right !important;
  }
  .pull-left-xs {
    float: left !important;
  }
  .dropdown-menu.pull-none-xs {
    left: 0;
  }
  .hidden-xs.show {
    display: inherit !important;
  }
  .wrapper-lg,
  .wrapper-md {
    padding: 15px;
  }
  .padder-lg,
  .padder-md {
    padding-left: 15px;
    padding-right: 15px;
  }
  .no-m-xs {
    margin: 0 !important;
  }
}
.i-switch {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  border-radius: 30px;
  background-color: #11A04E;
  margin: 0;
}
.i-switch input {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.i-switch input:checked + i:before {
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 5px;
  border-width: 0;
  border-radius: 5px;
}
.i-switch input:checked + i:after {
  margin-left: 16px;
}
.i-switch i:before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 30px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.i-switch i:after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 18px;
  top: 1px;
  bottom: 1px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25) 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25) 0 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25) 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25) 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25) 0 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin-left 0.3s;
  -moz-transition: margin-left 0.3s;
  -ms-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}
.i-switch .label-text {
  position: absolute;
  display: inline-block;
  min-width: 200px;
  margin-left: 5px;
  left: 100%;
  top: 0;
}
.i-switch-md {
  width: 40px;
  height: 24px;
}
.i-switch-md input:checked + i:after {
  margin-left: 17px;
}
.i-switch-md i:after {
  width: 22px;
}
.i-switch-lg {
  width: 50px;
  height: 30px;
}
.i-switch-lg input:checked + i:after {
  margin-left: 21px;
}
.i-switch-lg i:after {
  width: 28px;
}
.i-checks {
  padding-left: 20px;
  cursor: pointer;
}
.i-checks input {
  opacity: 0;
  position: absolute;
  margin-left: -20px;
}
.i-checks input:checked + i {
  border-color: #597a96;
}
.i-checks input:checked + i:before {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  background-color: #597a96;
}
.i-checks input:checked + span .active {
  display: inherit;
}
.i-checks input[type="radio"] + i,
.i-checks input[type="radio"] + i:before {
  border-radius: 50%;
}
.i-checks input[disabled] + i,
fieldset[disabled] .i-checks input + i {
  border-color: #edf1f2;
}
.i-checks input[disabled] + i:before,
fieldset[disabled] .i-checks input + i:before {
  background-color: #edf1f2;
}
.i-checks > i {
  width: 20px;
  height: 20px;
  line-height: 1;
  border: 1px solid #dee5e7;
  background-color: #fff;
  margin-left: -20px;
  margin-top: -2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  position: relative;
}
.i-checks > i:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0px;
  height: 0px;
  background-color: transparent;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.i-checks > span {
  margin-left: -20px;
}
.i-checks > span .active {
  display: none;
}
.i-checks-sm input:checked + i:before {
  left: 3px;
  top: 3px;
  width: 8px;
  height: 8px;
}
.i-checks-sm > i {
  width: 16px;
  height: 16px;
  margin-left: -18px;
  margin-right: 6px;
}
.i-checks-lg input:checked + i:before {
  left: 8px;
  top: 8px;
  width: 12px;
  height: 12px;
}
.i-checks-lg > i {
  width: 30px;
  height: 30px;
}
.datepicker {
  margin: 0 5px;
}
.datepicker .btn-default {
  border-width: 0;
  box-shadow: none;
}
.datepicker .btn[disabled] {
  opacity: 0.4;
}
.datepicker .btn-info .text-info {
  color: #fff !important;
}
*:focus {
  outline: 0 !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.2;
}
a {
  color: #2f2f2a;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #070706;
  text-decoration: none;
}
label {
  font-weight: normal;
  text-transform: none;
}
.control-label {
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}
.select-label {
  margin: 0;
  cursor: pointer;
  font-size: 14px;
}
small,
.small {
  font-size: 15px;
}
.badge,
.label {
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.badge.bg-light,
.label.bg-light {
  text-shadow: none;
}
.badge {
  background-color: #cfdadd;
}
.badge.up {
  position: relative;
  top: -10px;
  padding: 3px 6px;
  margin-left: -10px;
}
.badge-sm {
  font-size: 85%;
  padding: 2px 5px !important;
}
.label-sm {
  padding-top: 0;
  padding-bottom: 1px;
}
.badge-white {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.35);
  padding: 2px 6px;
}
.badge-empty {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: inherit;
}
blockquote {
  border-color: #dee5e7;
}
.caret-white {
  border-top-color: #fff;
  border-top-color: rgba(255, 255, 255, 0.65);
}
a:hover .caret-white {
  border-top-color: #fff;
}
.thumbnail {
  border-color: #dee5e7;
}
.progress {
  background-color: #edf1f2;
}
.progress-xxs {
  height: 2px;
}
.progress-xs {
  height: 6px;
}
.progress-sm {
  height: 12px;
}
.progress-sm .progress-bar {
  font-size: 10px;
  line-height: 1em;
}
.progress,
.progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: none 0 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: none 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: none 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: none 0 3px rgba(0, 0, 0, 0.3);
}
.progress-bar-primary {
  background-color: #3676C8;
}
.progress-bar-info {
  background-color: #597a96;
}
.progress-bar-success {
  background-color: #11A04E;
}
.progress-bar-warning {
  background-color: #fad733;
}
.progress-bar-danger {
  background-color: #E74C3C;
}
.progress-bar-black {
  background-color: #27517d;
}
.progress-bar-white {
  background-color: #fff;
}
.accordion-group,
.accordion-inner {
  border-color: #dee5e7;
  border-radius: 2px;
}
.alert {
  font-size: 15px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.alert .close i {
  font-size: 12px;
  font-weight: normal;
  display: block;
}
.form-control {
  border-color: #dee5e7;
  border-radius: 2px;
}
.form-control,
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: none 0 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: none 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: none 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: none 0 3px rgba(0, 0, 0, 0.3);
}
.form-control:focus {
  border-color: #597a96;
}
.form-horizontal .control-label.text-left {
  text-align: left;
}
.form-control-spin {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}
.input-lg {
  height: 50px;
  font-size: 16px;
}
.input-group-addon {
  border-color: #dee5e7;
  background-color: #edf1f2;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0 5px 0 0;
}
.form-control::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  opacity: 1;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}
.list-group {
  border-radius: 2px;
}
.list-group.no-radius .list-group-item {
  border-radius: 0 !important;
}
.list-group.no-borders .list-group-item {
  border: none;
}
.list-group.no-border .list-group-item {
  border-width: 1px 0;
}
.list-group.no-bg .list-group-item {
  background-color: transparent;
}
.list-group-item {
  border-color: #e7ecee;
  padding-right: 15px;
}
a.list-group-item:hover,
a.list-group-item:focus,
a.list-group-item.hover {
  background-color: #fcfcfc;
}
.list-group-item.media {
  margin-top: 0;
}
.list-group-item.active {
  color: #fff;
  border-color: #597a96 !important;
  background-color: #597a96 !important;
}
.list-group-item.active .text-muted {
  color: #b5c5d3 !important;
}
.list-group-item.active a {
  color: #fff;
}
.list-group-item.focus {
  background-color: #e4eaec !important;
}
.list-group-item.select {
  position: relative;
  z-index: 1;
  background-color: #dbeef9 !important;
  border-color: #c5e4f5;
}
.list-group-alt .list-group-item:nth-child(2n+2) {
  background-color: rgba(0, 0, 0, 0.02) !important;
}
.list-group-lg .list-group-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.list-group-sm .list-group-item {
  padding: 6px 10px;
}
.list-group-sp .list-group-item {
  margin-bottom: 5px;
  border-radius: 3px;
}
.list-group-item > .badge {
  margin-right: 0;
}
.list-group-item > .fa-chevron-right {
  float: right;
  margin-top: 4px;
  margin-right: -5px;
}
.list-group-item > .fa-chevron-right + .badge {
  margin-right: 5px;
}
.nav-pills.no-radius > li > a {
  border-radius: 0;
}
.nav-pills > li.active > a {
  color: #fff !important;
  background-color: #597a96;
}
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:active {
  background-color: #506d86;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #f6f8f8;
}
.nav.nav-lg > li > a {
  padding: 20px 20px;
}
.nav.nav-md > li > a {
  padding: 15px 15px;
}
.nav.nav-sm > li > a {
  padding: 6px 12px;
}
.nav.nav-xs > li > a {
  padding: 4px 10px;
}
.nav.nav-xxs > li > a {
  padding: 1px 10px;
}
.nav.nav-rounded > li > a {
  border-radius: 20px;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #f6f8f8;
}
.nav-tabs {
  border-color: #dee5e7;
}
.nav-tabs > li > a {
  border-radius: 2px 2px 0 0;
  border-bottom-color: #dee5e7;
}
.nav-tabs > li:hover > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
  border-color: #dee5e7;
}
.nav-tabs > li.active > a {
  border-bottom-color: #fff !important;
}
.nav-tabs-alt .nav-tabs.nav-justified > li {
  display: table-cell;
  width: 1%;
}
.nav-tabs-alt .nav-tabs > li > a {
  border-radius: 0;
  border-color: transparent !important;
  background: transparent !important;
  border-bottom-color: #dee5e7 !important;
}
.nav-tabs-alt .nav-tabs > li.active > a {
  border-bottom-color: #597a96 !important;
}
.tab-container {
  margin-bottom: 15px;
}
.tab-container .tab-content {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #dee5e7;
  border-top-width: 0;
  border-radius: 0 0 2px 2px;
}
.pagination > li > a {
  border-color: #dee5e7;
}
.pagination > li > a:hover,
.pagination > li > a:focus {
  border-color: #dee5e7;
  background-color: #edf1f2;
}
.panel {
  border-radius: 2px;
}
.panel .accordion-toggle {
  font-size: 14px;
  display: block;
  cursor: pointer;
}
.panel .list-group-item {
  border-color: #edf1f2;
}
.panel.no-borders {
  border-width: 0;
}
.panel.no-borders .panel-heading,
.panel.no-borders .panel-footer {
  border-width: 0;
}
.panel-heading {
  border-radius: 2px 2px 0 0;
}
.panel-default .panel-heading {
  background-color: #fff;
}
.panel-heading.no-border {
  margin: -1px -1px 0 -1px;
  border: none;
}
.panel-heading .nav {
  margin: -10px -15px;
}
.panel-heading .list-group {
  background: transparent;
}
.panel-footer {
  border-color: #fff;
  border-radius: 0 0 2px 2px;
  background-color: #f5f5f5;
}
.panel-default {
  border-color: #dee5e7;
}
.panel-default > .panel-heading,
.panel-default > .panel-footer {
  border-color: #fff;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #eaedef;
}
.panel-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}
.panel-selectable {
  position: relative;
}
.panel-selectable:hover {
  border-color: #2980b9;
  color: #2980b9;
}
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 15px;
  border-top: 1px solid #eaeff0;
}
.table > thead > tr > th {
  padding: 15px;
  border-bottom: 1px solid #eaeff0;
  font-weight: normal;
  color: #57584E;
}
.table-bordered {
  border-color: #eaeff0;
}
.table-bordered > tbody > tr > td {
  border-color: #eaeff0;
}
.table-bordered > thead > tr > th {
  border-color: #eaeff0;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fafbfc;
}
.table-striped > thead > th {
  background-color: #fafbfc;
  border-right: 1px solid #eaeff0;
}
.table-striped > thead > th:last-child {
  border-right: none;
}
.well,
pre {
  background-color: #edf1f2;
  border-color: #dee5e7;
  box-shadow: none;
}
.dropdown-menu {
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) 0 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) 0 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #dee5e7;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.dropdown-menu.pull-left {
  left: 100%;
}
.dropdown-menu > .panel {
  border: none;
  margin: -5px 0;
}
.dropdown-menu > li > a {
  padding: 5px 15px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: none;
  filter: none;
  background-color: #edf1f2;
  color: #070706;
}
.dropdown-header {
  padding: 5px 15px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: #edf1f2 !important;
  color: #57584E;
}
.dropdown-submenu:hover > .dropdown-menu,
.dropdown-submenu:focus > .dropdown-menu {
  display: block;
}
.dropdown-submenu.pull-left {
  float: none !important;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
.dropdown-submenu .dropdown-menu {
  left: 100%;
  top: 0;
  margin-top: -6px;
  margin-left: -1px;
}
.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
}
.btn-group > .btn {
  margin-left: -1px;
}
.help-block {
  font-size: 14px;
  line-height: 1.2em;
}
/*cols*/
.center-block {
  float: none;
}
.col-lg-2-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-0 {
  clear: left;
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.no-gutter [class*="col"] {
  padding: 0;
}
.row-sm {
  margin-left: -10px;
  margin-right: -10px;
}
.row-sm > div {
  padding-left: 10px;
  padding-right: 10px;
}
/* Modal reset */
.modal-header {
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.05);
  font-weight: bold;
  text-align: center;
  background: whitesmoke;
  border-radius: 3px 3px 0 0;
}
.modal-body {
  padding: 20px 25px;
  float: left;
  width: 100%;
}
.modal-footer {
  text-align: left;
  clear: both;
}
.modal-backdrop {
  background-color: #194167;
}
.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal-over {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}
.modal-center {
  position: absolute;
  left: 50%;
  top: 50%;
}
/* Datepicker reset */
._720kb-datepicker-calendar {
  width: 270px;
}
._720kb-datepicker-calendar-day {
  line-height: 20px;
}
._720kb-datepicker-calendar-days-header div {
  width: 14.2%;
  padding: 0 .5%;
}
._720kb-datepicker-calendar-header:nth-child(odd) {
  background: #24365B;
}
._720kb-datepicker-calendar-month span {
  color: white;
}
._720kb-datepicker-calendar-header a,
._720kb-datepicker-calendar-header a:hover {
  color: white;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: "Geogrotesque", "Open Sans", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
}
/* IE6/7 support */
.clearfix {
  *zoom: 1;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.btn {
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.white-bg {
  background: white;
}
.sans-serif {
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.user-avatar {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.user-avatar img {
  max-width: 100%;
}
.progress {
  height: 5px;
}
.dashboard {
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  /*background: url(../img/splash-hero.svg), -webkit-gradient(linear, to bottom right, to top left, color-stop(0%, #3D5999), color-stop(100%, #7477C8));
  background: url(../img/splash-hero.svg), -webkit-linear-gradient(to bottom right, #3D5999, #7477C8);
  background: url(../img/splash-hero.svg), -moz-linear-gradient(to bottom right, #3D5999, #7477C8);
  background: url(../img/splash-hero.svg), -o-linear-gradient(to bottom right, #3D5999, #7477C8);
  background: url(../img/splash-hero.svg), linear-gradient(to bottom right, #3D5999, #7477C8);*/
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .dashboard {
    padding: 0 6px;
  }
}
.dashboard-header {
  height: 60px;
  margin: 15px 0;
  color: white;
}
.dashboard-header > div {
  line-height: 60px;
}
.dashboard-header .logo {
  font-weight: bold;
}
.dashboard-header .logo img {
  max-height: 25px;
}
.dashboard-header.menu {
  padding-bottom: 65px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .dashboard-header {
    height: 40px;
    margin: 10px 0;
  }
  .dashboard-header > div {
    line-height: 40px;
  }
  .dashboard-header .logo img {
    max-height: 20px;
  }
}
.dashboard-wrap {
  height: calc(100% - 90px);
  background: white;
  border-radius: 3px 3px 0 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  clear: both;
}
.dashboard-wrap.scrollable {
  overflow: auto;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .dashboard-wrap {
    height: auto;
  }
}
.jumbtron {
  text-align: center;
  color: #ffffff;
  max-width: 630px;
  margin-top: 200px;
}
.jumbtron h3 {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}
.jumbtron a {
  margin-top: 10px;
  background: #ffffff;
  text-transform: uppercase;
  padding: 8px 32px;
  font-weight: 600;
  margin-right: 10px;
}
.jumbtron a.start {
  background-color: #333;
  color: #ffffff;
}
.point-count {
  padding: 10px 12px;
  border-radius: 15px;
  text-transform: uppercase;
  background: #e74c3c;
}
.point-count i {
  margin-right: 5px;
}
.content-header {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: white;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  z-index: 10;
  position: relative;
}
.content-header .back-button {
  position: absolute;
  left: 0;
  top: 0;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
}
.content-sidebar {
  border-right: solid 1px #D8D8D8;
  background: whitesmoke;
  padding-top: 70px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .content-sidebar {
    width: 100%;
    position: relative;
    padding: 0;
  }
}
.content-sidebar ul {
  margin-top: 30px;
}
.content-sidebar ul li a {
  padding: 15px 20px;
  display: block;
  border-top: solid 1px whitesmoke;
  text-decoration: none;
  font-weight: bold;
}
.content-sidebar ul li a i {
  width: 15px;
  margin-right: 10px;
}
.content-sidebar ul li a:hover {
  background: whitesmoke;
}
.content-sidebar ul li.active a {
  background: #2980b9;
  color: white;
}
.content-sidebar ul li.disabled a {
  pointer-events: none;
  color: #bbb;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .content-sidebar ul {
    margin-top: 0;
  }
  .content-sidebar ul li {
    display: none;
  }
  .content-sidebar ul li.active {
    display: block;
  }
}
.content-main {
  height: calc(100% - 70px);
  padding-left: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .content-main {
    padding: 0;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 1000;
}
.overlay .overlay-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.overlay .overlay-body {
  position: relative;
  width: 400px;
  max-width: 100%;
  border-radius: 3px;
  margin: 10% auto;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .overlay .overlay-body {
    border-radius: 0;
  }
}
.overlay.overlay-lg .overlay-body {
  width: 700px;
}
.upload-progress {
  border-radius: 0;
  height: 45px;
  position: relative;
  background: none;
  border-bottom: solid 1px whitesmoke;
}
.upload-progress .btn {
  position: absolute;
  right: 0;
  border-radius: 0;
  height: 45px;
  line-height: 45px;
  padding: 0 25px;
  text-transform: uppercase;
  font-weight: bold;
}
.upload-progress .points-uploaded {
  font-weight: bold;
  position: absolute;
  line-height: 45px;
  top: 0;
  left: 20px;
  z-index: 10;
}
.panel-uploaded {
  color: #27ae60;
  border-color: #27ae60;
}
.panel-uploaded:hover {
  color: #27ae60;
  border-color: #27ae60;
}
.panel-uploaded .icon-check {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 20px;
}
.document-icon {
  width: 50px;
  float: left;
  margin-right: 10px;
  color: #000000;
  text-align: center;
}
.document-icon img {
  max-height: 100%;
}
.panel-upload-region {
  border-radius: 0;
  border-width: 1px 0;
  border-top: none;
}
.upload-region {
  width: 100%;
  height: 250px;
  background: whitesmoke;
  border-radius: 3px;
  position: relative;
}
.upload-region video,
.upload-region canvas {
  width: 100%;
  height: 100%;
}
.upload-region .btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.upload-region .cancel-selection {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  color: #e74c3c;
  cursor: pointer;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .upload-region {
    margin-top: 10px;
  }
}
.upload-type-selection {
  padding: 40px 0;
  text-align: center;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .upload-type-selection span {
    display: block;
    margin: 10px 0;
  }
}
