<div data-ng-include=" 'partials/header.html' ">
</div>
<div class="container">
    <div class="dashboard">
        <div class="col-md-4 tab-nav">
            <ul>
                <li><a class="settings" ui-sref-active="active" ui-sref="dashboard.home"><i class="fa fa-gear"></i></a></li>
                <li><a ui-sref-active="active" ui-sref="dashboard.profile">Profile</a></li>
                <li><a ui-sref-active="active" ui-sref="dashboard.donation">Your Donations</a></li>
                <li><a ui-sref-active="active" ui-sref="dashboard.reward">Your Rewards</a></li>
                <li><a ui-sref-active="active" ui-sref="dashboard.favourite">Favorites <i class="fa fa-star" style="color: #B9D0A6; font-size: 36px;"></i></a></li>
                <li><a ui-sref-active="active" ui-sref="dashboard.cards">Payment Settings</a></li>
                <li><a ui-sref-active="active" ui-sref="dashboard.subscription">Subscriptions</a></li>
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
        </div>
        <div class="col-md-8 tab-content">
            <div ui-view></div>
        </div>
    </div>
</div>
<div data-ng-include=" 'partials/footer.html' ">
</div>
