<div class="container footer m-t-xxl">
    <div class="row">
        <div class="col-md-2 col-sm-12">
            <ul>
                <li><a ui-sref="reward.about">About</a></li>
                <li><a ui-sref="reward.team">Team</a></li>
                <li><a ui-sref="reward.career">Career</a></li>
                <li><a ui-sref="reward.partners">Partners</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-12">
            <ul>
                <li><a ui-sref="reward.community">Community</a></li>
                <li><a ui-sref="reward.ambassadors">Ambassadors</a></li>
                <li><a ui-sref="reward.terms">Terms of Service</a></li>
                <li><a ui-sref="reward.privacy">Privacy Policy</a></li>
                <!-- <li><a ui-sref="reward.privacy"></a></li> -->
            </ul>
        </div>
        <div class="col-md-2 col-sm-12">
            <ul>
                <li><a ui-sref="reward.abooktoo">a<b><i>book</i></b>too</a></li>
                <li><a ui-sref="charity.create">Non-Profit Portal</a></li>
                <li><a ui-sref="charity.addMerchant">Merchant Portal</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-12">
            <ul>
                <li><a href=""><img src="assets/img/icon_twitter.png" class="social twitter"></i>Twitter</a></li>
                <li><a href=""><img src="assets/img/icon_facebook.png" class="social facebook"></i>Facebook</a></li>
                <li><a href=""><img src="assets/img/icon_instagram.png" class="social instagram"></i>Instagram</a></li>
            </ul>
        </div>
        <div class="hideOnDesktop" style="height:100px;"></div>
        <div class="col-md-4 col-xs-11 col-md-offset-0 col-xs-offset-1">
            <p>Subscribe To Our Newsletter</p>
            <div class="row">
                <div class="col-md-9 col-xs-8">
                    <input type="text" class="form-control" placeholder="Email">
                    <input type="text" class="form-control" placeholder="Zip">
                </div>
                <div class="col-md-3 col-xs-3">
                    <a href="#" class="newsletter_btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>
