
<script>
    $(document).ready(function(){
        $('.search_wrapper').click(function(){
            $(this).toggleClass('open');
        });
        $('.hamburger').click(function(){
            $(this).toggleClass('open');
            $('.menu_pane').toggleClass('open');
        });
    });
</script>
<div class="menu_pane">
	<ul>
		<li><a ui-sref="reward.about">How it works</a></li>
		<li><a ui-sref="charity.list">Discover Organizations</a></li>
		<li><a ui-sref="reward.list">Discover Rewards</a></li>
	</ul>
</div>
<div class="top_nav b-b">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul ng-show="!user" class="top-nav">
					<li>
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</li>
					<li><a ui-sref="access.signup">SIGN UP</a></li>
					<li><a ui-sref="access.login">LOG IN</a></li>
				</ul>
				<ul ng-show="user" class="top-nav">
					<li>
						<div class="hamburger">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</li>
					<li><a ui-sref="dashboard.home">{{user.firstName}} {{user.lastName}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container header">
	<div class="row">
	    <div class="col-md-12 m-t-sm m-b-sm">
	    	<a ui-sref="landing" class="logo"><img src="assets/img/abuntoo-logo.png" alt=""></a>
		    <!-- <ul class="nav hideOnMobile">
		        <li class="search_field">
		        	<form ng-submit="searchSite()">
			        	<input placeholder="Search Abuntoo..." ng-model="search.text" type="text" class="form-control">
			        	<i ng-show="search.text" ng-click="searchSite()" class="fa fa-search"></i>
		        	</form>
		        </li>
		        <li><a ui-sref="donate.one">donate &nbsp; <i class="fa fa-caret-down"></i></a></li>
		        <li ng-if="!user"><a ui-sref="access.login" class="btn-link">account &nbsp; <i class="fa fa-caret-down"></i></a></li>
		        <li ng-if="user"><a ui-sref="dashboard.home" class="btn-link">{{user.firstName}} &nbsp; <i class="fa fa-caret-down"></i></a></li>
		    </ul> -->

			<ul class="nav hideOnMobile">
				<li><a ui-sref="reward.about">How it works</a></li>
				<li><a ui-sref="charity.list">Discover Organizations</a></li>
				<li><a ui-sref="reward.list">Discover Rewards</a></li>
				<li><a href="#" class="search_pane"><div class="search_wrapper">
					<form ng-submit="searchSite()">
						<input type="text" class="form-control" ng-model="search.text" placeholder="Search Abuntoo"><img ng-click="searchSite()" src="assets/img/icon_search_new.png" alt="">
		        	</form>
					</div>
					</a>
				</li>
			</ul>

		    <ul class="mobile-nav hideOnDesktop">
		    	<!-- <li ng-if="!user"><a ui-sref="access.login" class="btn blue_btn"><i class="fa fa-sign-in"></i></a></li>
		        <li ng-if="user"><a ui-sref="dashboard.home" class="btn blue_btn"><i class="fa fa-user"></i></a></li>
		    	<li><a ui-sref="donate.one" class="btn gray_btn"><i class="fa fa-gift"></i></a></li>
		        <li><a href="" class="btn gray_btn" ng-click="$showSearch = true;"><i class="fa fa-search"></i></a></li> -->
		        <li><a href="#" class="search_pane"><div class="search_wrapper"><input type="text" class="form-control" placeholder="Search"><img src="assets/img/icon_search_new.png" alt=""></div></a></li>
		    </ul>

			<div ng-show="$showSearch" class="mobile_search hideOnDesktop">
				<form ng-submit="searchSite()">
					<input type="text" class="form-control" ng-model="search.text" placeholder="Search">
					<i class="fa fa-times-circle" ng-click="$showSearch = false;"></i>
				</form>
			</div>
		</div>
    </div>
</div>
