<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="ribbon_container">
                <div class="ribbon">
                    <strong class="ribbon-content">
                        <h1>Sign Up</h1>
                    </strong>
                </div>
            </div>
            <h3 style="text-align:center;" class="blue_text"></h3>
            <h3 style="text-align:center;" class="blue_text"></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <button id="login-btn" class="btn btn-lg btn-primary btn-block" style="cursor: pointer" ng-click="loginToggle()"><i class="fa fa-facebook"></i> &nbsp;&nbsp;Sign up with Facebook</button>

            <div class="col-md-8 col-md-offset-2 text-center" style="padding: 30px 0 30px 0">OR</div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <form name="form" class="form-validation">
                <uib-alert type="{{alert.type}}" close="closeAlert();" ng-show="alert">{{alert.message}}</uib-alert>
                <div class="list-group list-group-sm">
                    <div class="list-group-item">
                        <input type="type" placeholder="First Name" class="form-control no-border" ng-model="credentials.firstName" required>
                    </div>
                    <div class="list-group-item">
                        <input type="type" placeholder="Last Name" class="form-control no-border" ng-model="credentials.lastName" required>
                    </div>
                    <div class="list-group-item">
                        <input type="email" placeholder="Email" ng-blur="searchMail()" class="form-control no-border" ng-model="credentials.email" required>
                    </div>
                    <div class="list-group-item">
                        <input type="password" minlength=8 placeholder="Password" class="form-control no-border" ng-model="credentials.password" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signup()" ng-disabled='form.$invalid'>Sign up</button>
                <div class="text-center m-t m-b">already a member? <a ui-sref="access.login"> login </a></div>
                <div class="line line-dashed"></div>
            </form>
        </div>
    </div>
</div>

<!-- <div data-ng-include=" 'partials/footer.html' " class="app-header navbar">
</div> -->
